@model List<Capstone.Models.ApplicationModel>
@{
    ViewBag.Title = "Applications";
    Layout = "~/Views/Shared/_AdminLTELayout.cshtml";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Applications
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Forms</a></li>
        @*<li class="active">General Elements</li>*@
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">All Applications</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="tblApplications" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>S.No.</th>
                                <th>Application Number</th>
                                <th>Submitted On</th>
                                <th>Status</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                for (int i = 1; i < Model.Count - 1; i++)
                                {
                                    <tr>
                                        <td>@i</td>
                                        <td>@Model[i].ApplicationNumber</td>
                                        <td>@Model[i].SubmittedOn.ToString("dd-MM-yyyy")</td>
                                        <td>@Model[i].Status</td>
                                        <td><a href="javascript:void(0);" onclick="ViewTransactions(@Model[i].Id)">View</a></td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>
</section>

<script>
    $(function () {
        $("#tblApplications").DataTable();
    });

    function ViewTransactions(applicationId) {
        alert('app id: ' + applicationId);
    }

    function GetApplications() {
        var url = '@Url.Action("Applications", "License", new { Area = "User" })';
        var jqxhr = $.post(url, function () { })
            .done(function (response) {
                debugger;
                var json;
                if (response instanceof Object)
                    json = response;
                else
                    json = $.parseJSON(response);
                BindDetails(json);
            })
            .fail(function (jqxhr, status, error) {
                var err = status + ", " + error;
                console.log("Applications Request Failed: " + err);
            });
    }

    function BindDetails(json) {
        var table = $('#tblApplications').DataTable();

        // Clear all existing rows
        table.clear().draw();

        // Bind new rows
        for (var i = 0; i < json.length; i++) {

            table.row.add([
        (i + 1),
        json[i].ApplicationNumber,
        json[i].SubmittedOn,
        json[i].Status,
        '<a class="glyphicon glyphicon-pencil actionlink-button" href=javascript:ViewLicenses(' + json[i].Id + ') ></a>'
            ]);
        }

        table.draw();
    }
</script>
