
@{
    ViewBag.Title = "Payment Success";
    Layout = "~/Views/Shared/_AdminLTELayout.cshtml";
}

<section class="content">
    @{ 
        
        if(ViewBag.IsApplicationSubmitted == true)
        {
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-success">
                        <div class="box-body">
                            <div class="form-horizontal">
                                <fieldset class="scheduler-border">
                                    <legend class="scheduler-border">Success</legend>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <p>
                                                Your payment of <b>₹ @ViewBag.Amount.ToString("0.00")</b> has been completed and application submitted successfully. Please note following details for future references.
                                                <br />
                                                Application Number : <b>@ViewBag.ApplicationNumber</b> 
                                                <br />
                                                Transaction Id : <b>@ViewBag.transactionId</b>
                                                <br />
                                                Payment Id: <b>@ViewBag.PaymentId</b>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-12 text-right">
                                        <a href='@Url.Action("Index", "Dashboard", new { Area = "User" })'>Dashboard</a>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-danger">
                        <div class="box-body">
                            <div class="form-horizontal">
                                <fieldset class="scheduler-border">
                                    <legend class="scheduler-border">Error</legend>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <p>
                                                Your payment of <b>₹ @ViewBag.Amount.ToString("0.00")</b> has been completed successfully but due to some technical issues application was not submitted. 
                                                Please contact helpdesk for technical support. Please note your application number <b>@ViewBag.ApplicationNumber</b> for future references.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-12 text-right">

                                        <a href='@Html.ActionLink("Index", "Dashboard", new { Area = "User" })'>Dashboard</a>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
   
</section>