@model Capstone.Models.UserModel


<!-- Validate -->
<script src="~/Content/plugins/Decryption/md5.js"></script>
<script src="~/Content/plugins/jQuery/jquery.validate.1.16.0.js"></script>
<script src="~/Content/plugins/jQuery/jquery.validate.unobtrusive.js"></script>
@*@using (Ajax.BeginForm("ForgotPasswordRecovery", "Account",
                                 new AjaxOptions
                                 {
                                     HttpMethod = "POST",
                                     OnSuccess = "ShowMessage",
                                     OnFailure = "ShowFailure"
                                 }))
{*@


    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-3"></div>
                <span style="color:darkgreen;">OTP sent to Email !!!</span>
            </div>
            <br/>
            <div class="row">
                <div class="col-md-2">
                    @Html.HiddenFor(model => model.Id)
                    @*@Html.LabelFor(model => model.EmailId, new { @class = "control-label" })*@
                    @Html.Label("Enter OTP")
                </div>
                <div class="col-md-5">
                    @*@Html.HiddenFor(model => model.Password)*@
                    @*@Html.EditorFor(model => model.EmailId, new { htmlAttributes = new { @class = "form-control" } })*@
                    @Html.TextBox("OTP","", new { @id="txtOTP", @class = "form-control", @maxlength = 6 })
                    @Html.ValidationMessageFor(model => model.EmailId, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-3">
                    @*<input type="submit" id="btnForgotPassword" value="SendPassword" class="btn btn-primary" />*@
                  
                    <img id="imgCorrect" src="~/Content/images/tickmark.png" height="30px" width="30px"  hidden/>
                    <img id="imgNotCorrect" src="~/Content/images/close.png"  height="30px" width="30px" hidden />
                </div>
            </div>
            <br/>
            <br/>
            <div id="divResetPassword" class="row" hidden>
                <div class="col-md-12">
                    <div class="col-md-2">

                        @Html.Label("Reset Password")
                    </div>
                    <div class="col-md-4">

                        @Html.Password("ResetPassword", "", new { @id = "txtResetPassword", @class = "form-control" })
                       
                    </div>
                    <div class="col-md-2">
                        <input type="submit" id="btnResetPassword" value="Reset" class="btn btn-primary" />

                    </div>
                </div>
            </div>
        </div>
    </div>

@*<div class="row">
    <div class="col-md-12" style="text-align:center;">

        <input type="submit" id="btnForgotPassword" value="SendPassword" class="btn btn-primary" />
    </div>
</div>*@
@*}*@

<script type="text/javascript">

      function ShowMessage(response) {
          ShowModal(response);
      }

      function ShowFailure() {
          console.log('failure');
      }
</script>
<script>
    var userModel = @Html.Raw(Json.Encode(Model));
    var OTPvalue=userModel.OTP;
    var UserId=userModel.Id;

    $('#txtOTP').keyup(function (e) {


        //if the letter is not digit then display error and don't type anything
        if (e.which != 8) {
            var reg = /[0-9]/;
            if (this.value.length == 6) {
                if(this.value == OTPvalue){
                    $('#txtOTP').css('border-color', '');
                    $('#imgCorrect').show();
                    $('#imgNotCorrect').hide();
                    $('#divResetPassword').show();
                }
                else {
                    $('#imgCorrect').hide();
                    $('#imgNotCorrect').show();

                    $('#txtOTP').css('border-color', 'red');
                    $('#divResetPassword').hide();
                }

            }


        }

    });



    $('#btnResetPassword').click(function (e) {

        var strmd5 = '';
        var saltedstrmd5 = '';
        var strval = $('#txtResetPassword').val();

        var passwordStrengthReg = new RegExp(/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@@#$!%&**?])[A-Za-z\d@@#$!%^&*?]{8,30}$/);
        if (!passwordStrengthReg.test(strval)) {
            alert('Password should have\nminimum 8 characters\nat least 1 lowercase\nat least 1 uppercase\nat least 1 special character\nat least 1 numeric');
            return;
        }

            if (strval.length == 0) {

            }
            else {
               strmd5 = $().crypt({
                    method: "md5",
                    source: strval
               });
               saltedstrmd5 = $().crypt({
                   method: "md5",
                   source: strmd5+'ultimate_2018'
               });

                var url = '@Url.Action("ResetUserPassword", "Account", new { Area = "" })';
                var model = {
                    Id: UserId,
                    Password: $('#txtResetPassword').val()

                }
                var jqxhr = $.post(url, model, function () { })
           .done(function (data) {
               ShowMessage(data);

           })
       .fail(function (jqxhr, status, error) {
           var err = status + ", " + error;
           console.log("Reset password Request Failed: " + err);
       });

            }


        });


</script>
@*<script>
            $('#btnForgotPassword').on('click', function (e) {
            e.preventDefault();
            if ($('#formForgot').valid()) {
                var uri = '@Url.Action("ForgotPasswordRecovery", "Account", new { Area = "" })';
                var data = {
                    model: {
                        EmailId: $('#EmailId').val()
                    }
                };
                var jqxhr = $.post(url, data, function () { },'json')
            .done(function (response) {
                var json;
                if (response instanceof Object)
                    json = response;
                else
             json = $.parseJSON(response);
    })
            .fail(function (jqxhr, status, error) {
                var err = status + ", " + error;
                console.log("Login Details Request Failed: " + err);
             });
            }
            });
</script>*@