@model Capstone.Models.AcknowledgeModel

<style>
    .reportheadertext {
        text-align: center;
        font-size: larger;
    }

    .textunderline {
        text-decoration: underline;
    }

    .parabody {
        text-indent: 50px;
        text-align: justify;
    }
</style>

@if (Model.HasAppliedforAPMCE)
{
    <div id="divPrint">
        <fieldset class="scheduler-border">
            <legend class="scheduler-border">TAMCE Acknowledgement</legend>
            @if (Model.APMCEAckModel != null)
        {
        <div class="row">
            <div class="col-md-offset-1 col-md-10 reportheadertext">
                FORM-II
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-1 col-md-10 reportheadertext textunderline">
                ACKNOWLEDGEMENT
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-1 col-md-10 reportheadertext">
                [See rule 4(d)]
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <p class="parabody">
                    The application in Form I in duplicate for <b>@Model.APMCEAckModel.ApplicationType</b> of registration of Allopathic Private Capstone Care Establishment
                    submitted by <b>@Model.APMCEAckModel.ApplicantNameAddress</b> has been received by the Registration Authority <b>@Model.APMCEAckModel.IssuingAuthority</b>
                    on <b>@Model.APMCEAckModel.ReceivedDate.ToString("dd-MMM-yyyy")</b>
                </p>
                <p class="parabody">
                    This acknowledgement does not confer any right on the applicant for grant or renewal of registration.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-offset-1">
                Date: &nbsp; <b><span id="currentDate"> </span></b>
                <br />
                Place: <b>@Model.APMCEAckModel.ReceivedPlace </b>
            </div>

            <div class="col-md-offset-3 col-md-12">
                <div style="text-align:center;">
                    @{
                            var x = Model.APMCEAckModel.AppropriateAuthority.Split(';');
                            foreach (var item in x)
                            {
                        <div>
                            @item
                        </div>
                            }
                    }
                </div>
            </div>
        </div>
        <br />
        @*<div class="row">
            <div class="col-md-offset-1 col-md-10" style="text-align:center">
                <input type="button" id="btnAPMCEACKPrint" value="Print" class="btn btn-primary" />
            </div>
        </div>*@
        }
        else
        {
        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                Need to get approval from respective department.
            </div>
        </div>
        }
        </fieldset>
    </div>
    <div class="row">
        <div class="col-md-12" style="text-align:center;">
            <input type="button" id="btnClosePreview" value="Close" data-dismiss="modal" class="btn btn-default" />
            <input type="button" id="btnAPMCEACKPrint" value="Print" class="btn btn-primary" />
        </div>
    </div>                 }

@if (Model.HasAppliedforPCPNDT)
{

    <div id="divPrint">
        <fieldset class="scheduler-border">
            <legend class="scheduler-border">PCPNDT Acknowledgement</legend>
            @if (Model.PCPNDTAckModel != null)
        {
                <div class="row">
                    <div class="col-md-offset-1 col-md-10 reportheadertext">
                        [ SEAL OF THE ORGANISATION SOUGHT TO BE REGISTERED ]
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-offset-1 col-md-10 reportheadertext textunderline">
                        ACKNOWLEDGEMENT
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-offset-1 col-md-10 reportheadertext">
                        [ See Rule 4(2) and 8(1) ]
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-offset-1 col-md-10">
                        <p class="parabody">
                            The application in Form A in duplicate for <b>@Model.PCPNDTAckModel.ApplicationType</b> of registration of <b>@Model.PCPNDTAckModel.Facilities</b>
                            by <b>@Model.PCPNDTAckModel.ApplicantNameAddress</b> has been received by the Appropriate Authority <b>@Model.PCPNDTAckModel.IssuingAuthority</b>
                            on <b>@Model.PCPNDTAckModel.ReceivedDate.ToString("dd-MMM-yyyy")</b>
                        </p>
                        <p class="parabody">
                            The list of enclosures attached to the application in Form A has been verified with the enclosures submitted and
                            found to be correct.
                        </p>
                        <p class="parabody">
                            This acknowledgement does not confer any right on the applicant for grant or renewal of registration.
                        </p>
                    </div>
                </div>
                <br />
                @*<div class="row">
                        <div class="col-md-offset-1 col-md-10" style="text-align:center">
                            <input type="button" id="btnPCPNDTAckPrint" value="Print" class="btn btn-primary" />
                        </div>
                    </div>*@
        }
        else
        {
                <div class="row">
                    <div class="col-md-offset-1 col-md-10">
                        Need to get approval from respective department.
                    </div>
                </div>
        }
        </fieldset>
    </div>
<div class="row">
        <div class="col-md-12" style="text-align:center;">
            <input type="button" id="btnClosePreview" value="Close" data-dismiss="modal" class="btn btn-default" />
            <input type="button" id="btnPCPNDTAckPrint" value="Print" class="btn btn-primary" />
        </div>
    </div>
}

@if (Model.HasAppliedforBloodBank)
{
    <div id="divPrint">
        <fieldset class="scheduler-border">
            <legend class="scheduler-border">Blood Bank Acknowledgement</legend>
            @if (Model.BloodBankAckModel != null)
        {
        <div class="row">
            <div class="col-md-offset-1 col-md-10 reportheadertext">
                Blood Bank
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-1 col-md-10 reportheadertext">
                GOVERNMENT OF TELANGANA
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-1 col-md-10 reportheadertext">
                HEALTH, Capstone & FAMILY WELFARE DEPARTMENT
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-1 col-md-10 reportheadertext">
                State Blood Transfusion Council
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-1 col-md-10 reportheadertext textunderline">
                ACKNOWLEDGEMENT
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <p class="parabody">
                    The application in <b>@Model.BloodBankAckModel.FormName</b> for <b>@Model.BloodBankAckModel.ApplicationType</b> of registration to establish a
                    Blood Bank <b>@Model.BloodBankAckModel.BloodBankForm</b> by <b>@Model.BloodBankAckModel.NameAddress</b> has been received by the SBTC, Hyderabad,
                    Telangana on <b>@Model.BloodBankAckModel.Date.ToString("dd-MM-yyyy")</b>
                </p>
                <p class="parabody">
                    The list of enclosures attached to the application in <b>@Model.BloodBankAckModel.FormName</b> has been verified with
                    the enclosures submitted and found to be correct.
                </p>
                <p class="parabody">
                    This acknowledgement does not confer any right on the applicant for grant or renewal of registration.
                </p>
            </div>
        </div>
        <br />
        @*<div class="row">
                <div class="col-md-offset-1 col-md-10" style="text-align:center">
                    <input type="button" id="btnBloodBankAckPrint" value="Print" class="btn btn-primary" />
                </div>
            </div>*@
        }
        else
        {
        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                Need to get approval from respective department.
            </div>
        </div>
        }
        </fieldset>
    </div>
    <div class="row">
        <div class="col-md-12" style="text-align:center;">
            <input type="button" id="btnClosePreview" value="Close" data-dismiss="modal" class="btn btn-default" />
            <input type="button" id="btnBloodBankAckPrint" value="Print" class="btn btn-primary" />
        </div>
    </div>
}

<script>
        $('#btnPCPNDTAckPrint').on('click', function (e) {
            //alert('This function is under working');
            debugger;
            printDiv();
        });
        function printDiv() {
            debugger;

            var divToPrint = document.getElementById('divPrint');

            var newWin = window.open('', 'Print-Window');

            newWin.document.open();

            newWin.document.write('<html><body onload="window.print()">' + divToPrint.innerHTML + '</body></html>');

            newWin.document.close();

            setTimeout(function () { newWin.close(); }, 10);

        }
</script>
<script>
        $('#btnBloodBankAckPrint').on('click', function (e) {
            //alert('This function is under working');
            printDiv();
        });
        //function printDiv() {

        //    var divToPrint = document.getElementById('divModalBody');

        //    var newWin = window.open('', 'Print-Window');

        //    newWin.document.open();

        //    newWin.document.write('<html><body onload="window.print()">' + divToPrint.innerHTML + '</body></html>');

        //    newWin.document.close();

        //    setTimeout(function () { newWin.close(); }, 10);

        //}
</script>

<script>
    $('#btnAPMCEACKPrint').on('click', function (e) {
            printDiv();
        });
        //function printDiv() {

        //    var divToPrint = document.getElementById('divModalBody');

        //    var newWin = window.open('', 'Print-Window');

        //    newWin.document.open();

        //    newWin.document.write('<html><body onload="window.print()">' + divToPrint.innerHTML + '</body></html>');

        //    newWin.document.close();

        //    setTimeout(function () { newWin.close(); }, 10);

        //}
</script>
<script>
    $(document).ready(function () {
        debugger;
        var d = new Date();
        var month = d.getMonth() + 1;
        var day = d.getDate();

        var getdate = (day < 10 ? '0' : '') + day + '/' +
            (month < 10 ? '0' : '') + month + '/' + d.getFullYear();
        $('#currentDate').text(getdate);
    });
</script>
