@model List<Capstone.Models.TransactionViewModel>
@{
    ViewBag.Title = "ListofApplications";
    Layout = "~/Views/Shared/_AdminLTELayout.cshtml";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Applications
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="@Url.Action("Dashboard","Dashboard","Department")">Back to Dashbord</a></li>
        @*<li class="active">General Elements</li>*@
    </ol>
</section>
<!-- Main content -->
<section class="content">

    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-4">
                                <h3 class="box-title">List of Applications</h3>
                            </div>
                            <div class="col-md-3"></div>
                            <div class="col-md-5">
@using (Html.BeginForm("Export", "DepartmentUser", FormMethod.Post,
                                                     new { Area = "Department", enctype = "multipart/form-data" }))
{
    <div class="col-md-6">
        <select name="status" class="form-control" style="width:100%">
            <option>-Select-</option>
            <option>Forwarded</option>
            <option>Approved</option>
        </select>
    </div><div class="col-md-6">
    <input type="submit" value="Export Excel" class="form-control btn btn-primary" />
</div>
}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="tblListofApplications" class="table table-responsive">
                        <thead>
                            <tr>
                                <th>Sl.No</th>
                                <th>Service Name</th>
                                <th>ApplicantName</th>
                                <th>Status</th>
                                <th>CurrentDesignation</th>
                                <th>Expiry Date</th>
                                <th>View Certificate</th>
                            </tr>
                            @if (Model != null)
                            {
                                for (int i = 0; i < Model.Count; i++)
                                {

                            <tr>
                                <td>@Convert.ToInt32(i + 1)</td>
                                <td>@Model[i].ServiceName</td>
                                <td>@Model[i].ApplicantName</td>
                                <td>@Model[i].StatusName</td>
                                <td>@Model[i].CurrentDesignationName</td>
                                <td>@(Model[i].LicenseExpiryDate == "" ? "NA" : Model[i].LicenseExpiryDate)</td>
                                <td>
                                    @if (Model[i].ServiceId == 1 && Model[i].StatusName != "Approved" && Model[i].StatusName != "Rejected")
                                    {
                                        @*<span>NA</span>*@
                                        <input type="button" class="form-control btn-warning" value="View" onclick="GenerateTemparoryCertificate(@(Model[i].Id),'Transaction')" />
                                    }
                                    else if (Model[i].ServiceId == 1 && Model[i].StatusName == "Rejected")
                                    {
                                        <input type="button" class="form-control btn-danger" value="View" onclick="GenerateRejectCertificate(@(Model[i].Id),'Transaction')" />
                                    }
                                    else if (Model[i].ServiceId == 1 && Model[i].StatusName == "Approved")
                                    {
                                        <input type="button" class="form-control btn-success" value="View" onclick="ViewLicense(@(Model[i].Id),'Transaction')" />
                                    }
                                    else
                                    {
                                        <input type="button" value="View" onclick="ViewAmendment(@(Model[i].AmendmentId), @(Model[i].ServiceId),@(Model[i].Id))" />
                                    }
                                </td>
                                <td>@Html.ActionLink("View", "Approval", new { TransactionId = Model[i].Id, ServiceId = Model[i].ServiceId, AId = Model[i].AmendmentId, TSId = Model[i].TranServiceId, Type = Model[i].Type })</td>
                                <td style="display:none;">@Html.ActionLink("Go to Inspection", "VerifyInspectionDetails", new { TransactionId = Model[i].Id, ServiceId = Model[i].ServiceId, AId = Model[i].AmendmentId, TSId = Model[i].TranServiceId, Type = Model[i].Type })</td>
                            </tr>
                                }
                            }
                        </thead>
                        <tbody></tbody>

                    </table>
                </div>

                <!-- /.box-body -->
            </div>
        </div>
    </div>
</section>
<script>
    @*$(document).ready(function () {

        var json=@Html.Raw(Json.Encode(Model));

        var table = $('#tblListofApplications').DataTable();
        if(json!=null){

        }
        // Clear all existing rows
        table.clear().draw();

        for (var i = 0; i < json.length; i++) {
            debugger;
            var link= '@Url.Action("Approval", "DepartmentUser", new {Area="Department", TransactionId = "_Id", ServiceId ="_ServiceId",AId="_AmendmentId",TSId="_TranServiceId", Type= "_Type" })'
            link= link.replace("_Id",json[i].Id).replace("_ServiceId",json[i].ServiceId).replace("_AmendmentId",json[i].AmendmentId).replace("_TranServiceId",json[i].TranServiceId).replace("_Type",json[i].Type);

            table.row.add([
                (i + 1),
                json[i].ServiceName,
                json[i].ApplicantName,
                '<a href=' + link + '>View</a>',
            ]);

            table.draw();}*@
        //var table = $("#tblListofApplications").DataTable();
        //table.draw();

        //GetApplications();
    //});
    @*function GetApplications() {
        var url = '@Url.Action("GetApplications", "DepartmentUser", new { Area = "Department" })';
        var jqxhr = $.post(url, function () { })
            .done(function (response) {
                var json;
                if (response instanceof Object)
                    json = response;
                else
                    json = $.parseJSON(response);
                BindDetails(json);

            })
            .fail(function (jqxhr, status, error) {
                var err = status + ", " + error;
                console.log("Get Applications, Request Failed: " + err);
            });
    }
    function BindDetails(json) {
        var table = $('#tblListofApplications').DataTable();

        // Clear all existing rows
        table.clear().draw();

        for (var i = 0; i < json.length; i++) {
            console.log(json);
            var link = 'asdfasfsd[1]';
            table.row.add([(i + 1), json[i].ServiceName,

                link.replace('[1]', json[i].Id)
                '@Html.ActionLink("action", "controller", new { p1 = }, null)',
           '<a class=glyphicon glyphicon-pencil actionlink-button href=javascript:Approval('+json[i].Id+','+json[i].ServiceId+') >View</a>']);

            table.draw();

            //var tr;
            //tr = $('<tr/>');
            //tr.append("<td>" + (i + 1) + "</td>")
            //tr.append("<td>" + json[i].ServiceName + "</td>")
            //tr.append("<td><a class='glyphicon glyphicon-pencil actionlink-button' href=javascript:EditDesignation('" + json[i].Id + "','" + json[i].Name + "','" + json[i].IsActive + "') ></a></td>")
            ////tr.append("<td> <button type='button' id='btnDelete' class='btn btn-default btn-sm'><i class='glyphicon glyphicon-remove'></i></button></td>")
            //$("[id$=tblListofApplications]").append(tr)
        }
    }
    function Approval(TID,SID) {
        var url = '@Url.Action("Approval", "DepartmentUser", new { Area = "Department" })';
        var data = { TransactionId: TID, ServiceId :SID}
        var jqxhr = $.get(url,data, function () { })
            .done(function (response) {
                var json;
                if (response instanceof Object)
                    json = response;
                else
                    json = $.parseJSON(response);
                BindDetails(json);

            })
            .fail(function (jqxhr, status, error) {
                var err = status + ", " + error;
                console.log("Get Applications, Request Failed: " + err);
            });
    }*@
</script>
<script>
    function ViewLicense(Id, TableName) {
        debugger;
    //ShowSpinner();
        var url = '@Url.Action("GetViewLicense", "License", new { Area = "User" })';
        var data = {
            TransactionId: Id,
            TableName: TableName
        };
        var jqxhr = $.post(url, data, function () { }, "html")
        .done(function (response) {
            var notificationModel = GetModalJSON();
            notificationModel.Title = "License";
            notificationModel.BodyContent = response;
            notificationModel.IsLargeModal = true;
            ShowModal(notificationModel);
        })
        .fail(function (jqxhr, status, error) {
            var err = status + ", " + error;
            console.log("GetPCPNDTLicense Request Failed: " + err);
        });
    }
 
    function GenerateTemparoryCertificate(Id, TableName) {
        debugger;
        var url = '@Url.Action("GenerateTemparoryCertificate", "Application", new { Area = "User" })';
        var data = {
            TransactionId: Id,
            TableName: TableName
        };
        var jqxhr = $.post(url, data, function () { }, "html")
        .done(function (response) {
            var notificationModel = GetModalJSON();
            notificationModel.Title = "Temparory Certificate";
            notificationModel.BodyContent = response;
            notificationModel.IsLargeModal = true;
            ShowModal(notificationModel);
        })
        .fail(function (jqxhr, status, error) {
            var err = status + ", " + error;
            console.log("GenerateTemparoryCertificate Request Failed: " + err);
        });
    }

    function GenerateRejectCertificate(Id, TableName) {
        debugger;
        var url = '@Url.Action("GenerateRejectCertificate", "Application", new { Area = "User" })';
        var data = {
            TransactionId: Id,
            TableName: TableName
        };
        var jqxhr = $.post(url, data, function () { }, "html")
        .done(function (response) {
            var notificationModel = GetModalJSON();
            notificationModel.Title = "Reject Certificate";
            notificationModel.BodyContent = response;
            notificationModel.IsLargeModal = true;
            ShowModal(notificationModel);
        })
        .fail(function (jqxhr, status, error) {
            var err = status + ", " + error;
            console.log("GenerateRejectCertificate Request Failed: " + err);
        });
    }

    function ViewAmendment(AId, SId,TId) {
        debugger;
        var url = '@Url.Action("GetAmendment", "DepartmentUser", new { Area = "Department" })';
        var data = {
            AmendmentId: AId,
            ServiceId: SId,
            TransactionId:TId
        };
        var jqxhr = $.post(url, data, function () { }, "html")
        .done(function (response) {
            debugger;
            var notificationModel = GetModalJSON();
            notificationModel.Title = "Amendment";
            notificationModel.BodyContent = response;
            notificationModel.IsLargeModal = true;
            ShowModal(notificationModel);
        })
        .fail(function (jqxhr, status, error) {
          
            var err = status + ", " + error;
            console.log("GetAmendment Request Failed: " + err);
        });
    }

</script>