
@{
    ViewBag.Title = "PendingApplicationsView";
    Layout = "~/Views/Shared/_AdminLTELayout.cshtml";
}

<section class="content" id="tblPendingApplications">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">List of Pending Applications </h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="tblPending" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Sl.No</th>
                                <th>Application Number</th>
                                <th>Application Type</th>
                                <th>Created On</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>
</section>

<script>
    $(function () {
        GetPendingApplications();
    });

    function GetPendingApplications() {
        debugger;
        var url = '@Url.Action("GetPendingApplicationsView", "Dashboard", new { Area = "Admin" })';
        var jqxhr = $.post(url, function () { })
            .done(function (response) {
                var json;
                if (response instanceof Object)
                    json = response;
                else
                    json = $.parseJSON(response);
                console.log('Testing json:' + json);
                BindDetails(json);

            })
            .fail(function (jqxhr, status, error) {
                var err = status + ", " + error;
                console.log("GetLicenses in User, Request Failed: " + err);
            });
    }
    //Approved Applications
    function BindDetails(json) {
       
        var table = $('#tblPending').DataTable();

        // Clear all existing rows
        table.clear().draw();
        // Bind new rows
        for (var i = 0; i < json.length; i++) {

            table.row.add([
        (i + 1),
        json[i].ApplicationNumber,
        json[i].ServiceName,
        json[i].CreatedOn,
      
            ]);
        }
        table.draw();
    }




    //Pending Applications
    function BindPendingApplications(json) {

        var table = $('#tblPending').DataTable();

        // Clear all existing rows
        table.clear().draw();

        // Bind new rows
        for (var i = 0; i < json.length; i++) {

            debugger;
            var ACKLink;
            if (json[i].HasACK != undefined && json[i].HasACK == 1)
                ACKLink = '<input type="button" value="Print" onclick="GetPCPNDTAck(' + json[i].Id + ', \'' + json[i].TableName + '\' )" />';
            else
                ACKLink = 'Need approval';
            //ACKLink = '<input type="button" value="Print" onclick="GetAPMCEAck(' + json[i].Id + ')" />';

            table.row.add([
        (i + 1),
        json[i].ApplicationNumber,
        json[i].ServiceName,
        json[i].CreatedOn,
        json[i].LastModifiedOn,
        ACKLink,
        '<input type="button" value="View" onclick="ViewApplication(' + json[i].Id + ')" />',
        '<input type="button" value="Track" onclick="ViewTrackApplication(' + json[i].Id + ')" />'
            ]);
        }

        table.draw();
    }
    function ViewApplication(id) {
        var viewlink = '@Url.Action("ApplicationView", "License", new { Area = "User", id = 1 })';
        viewlink = viewlink.replace("1", id);
        window.location.href = viewlink;
    }

    function ViewTrackApplication(ApplicationId) {
        var viewlink = '@Url.Action("TransactionTrackList", "Test", new { Area = "User", ApplicationId = 1 })';
        viewlink = viewlink.replace("1", ApplicationId);
        window.location.href = viewlink;
    }


    function GetPCPNDTAck(id, TableName) {
        debugger;
        var url = '@Url.Action("GetAcknowledge", "Application", new { Area = "User" })';
        var data = {
            applicationId: id,
            TableName: TableName
        };
        var jqxhr = $.post(url, data, function () { }, "html")
        .done(function (response) {
            var notificationModel = GetModalJSON();
            notificationModel.Title = "Acknowledgment Certificate";
            notificationModel.BodyContent = response;
            notificationModel.IsLargeModal = true;
            //notificationModel.ShowNonActionButton = true;
            //notificationModel.NonActionButtonText = 'Close';
            ShowModal(notificationModel);
        })
        .fail(function (jqxhr, status, error) {
            var err = status + ", " + error;
            console.log("GetAcknowledge Request Failed: " + err);
        });
    }


    function GetAPMCEAck(id) {
        var url = '@Url.Action("GetAcknowledge", "Application", new { Area = "User" })';
        var data = {
            applicationId: id
        };
        var jqxhr = $.post(url, data, function () { }, "html")
        .done(function (response) {
            var notificationModel = GetModalJSON();
            notificationModel.Title = "Acknowledgment Certificate";
            notificationModel.BodyContent = response;
            notificationModel.IsLargeModal = true;
            notificationModel.ShowNonActionButton = true;
            notificationModel.NonActionButtonText = 'Close';
            ShowModal(notificationModel);
        })
        .fail(function (jqxhr, status, error) {
            var err = status + ", " + error;
            console.log("GetAcknowledge Request Failed: " + err);
        });
    }

    //Appeal Applications
    function BindAppealApplications(json) {

        var table = $('#tblAppeal').DataTable();
        // Clear all existing rows
        table.clear().draw();

        // Bind new rows
        for (var i = 0; i < json.length; i++) {
            table.row.add([
        (i + 1),
        json[i].ServiceName,
        json[i].AppealReason,
        json[i].CreatedOn
            ]);
        }

        table.draw();
    }
</script>

