
@{
    ViewBag.Title = "ExistingRegister";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}

<!-- Navigation Bar Starts Here -->
<!-- Login Modal -->
<!-- BODY STATRS HERE -->
@*<a href='@Url.Action("NewHomePage", "UserInfo")' button type="submit" class="btn btn-success" style="margin-left:90%; margin-top:0.5%;">Back</a>*@
@*<h5 class="modal-title">New User Registration Details</h5>*@
<div class="modal-header">
    <h4 class="modal-title" id="lineModalLabel"> User Registration Details</h4>
</div>

@model Capstone.Models.UserModel
@using (Ajax.BeginForm("Register", "Account",
                 new AjaxOptions
                 {
                     HttpMethod = "POST",
                     OnSuccess = "ShowMessage",
                     OnFailure = "ShowFailure"
                 }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="modal-body">
        <!-- content goes here -->
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <form class="form-horizontal" role="form">


                    <div class="row">
                        <div class="col-md-offset-2 col-sm-1 ">
                            <span class="form-error">
                                @Html.LabelFor(a => a.FirstName, "Name")<span style="color:red;">*</span>
                            </span>
                        </div>
                        <div class="col-sm-3 ">
                            <span class="form-error">
                                @Html.TextBoxFor(a => a.FirstName, new { @class = "form-control", @placeholder = "Name", @Style = "text-transform: uppercase;" })
                                @Html.ValidationMessageFor(a => a.FirstName, "", new { @class = "text-danger" })
                            </span>
                        </div>
                        <div class="col-sm-1">
                            <span class="form-error">
                                @Html.LabelFor(a => a.DistrictId, "District")<span style="color:red;">*</span>
                            </span>
                        </div>
                        <div class="col-sm-3">
                            <span class="form-error">
                                @Html.DropDownListFor(model => model.DistrictId,
                        new SelectList(ViewBag.DistrictList, "Id", "Name"), "Select District",
                        new { @class = "form-control select2", @style = "width:100%;" })
                                @Html.ValidationMessageFor(model => model.DistrictId, "", new { @class = "text-danger" })
                            </span>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-offset-2 col-sm-1 ">
                            <span class="form-error">
                                @Html.LabelFor(a => a.AadharNumber, "Aadhar")<span style="color:red;">*</span>
                            </span>
                        </div>
                        <div class="col-sm-3 ">
                            <span class="form-error">
                                @Html.TextBoxFor(a => a.AadharNumber, new { @class = "form-control numeric", @maxlength = "12" })
                                @Html.ValidationMessageFor(a => a.AadharNumber, "", new { @class = "text-danger", @maxlength = "10" })
                            </span>
                        </div>

                        <div class="col-sm-1">
                            <span class="form-error">
                                @Html.LabelFor(a => a.MandalId, "Mandal")<span style="color:red;">*</span>
                            </span>
                        </div>
                        <div class="col-sm-3">
                            <span class="form-error">
                                @Html.DropDownListFor(a => a.MandalId, new List<SelectListItem>() {
                                new SelectListItem() {Text="Select Mandal", Value="0" } }, new { @style = "width:100%", @class = "form-control select2" })
                                @Html.ValidationMessageFor(a => a.MandalId, "", new { @class = "text-danger" })
                            </span>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-offset-2 col-sm-1 ">
                            <span class="form-error">
                                @Html.LabelFor(a => a.PANNumber, "PAN #")<span style="color:red;">*</span>
                            </span>
                        </div>
                        <div class="col-sm-3 ">
                            <span class="form-error">
                                @Html.TextBoxFor(a => a.PANNumber, new { @class = "form-control", @Style = "text-transform: uppercase;", @maxlength = "10" })
                                @Html.ValidationMessageFor(a => a.PANNumber, "", new { @class = "text-danger" })
                            </span>
                        </div>

                        <div class="col-sm-1">
                            <span class="form-error">
                                @Html.LabelFor(a => a.VillageId, "Village")<span style="color:red;">*</span>
                            </span>
                        </div>
                        <div class="col-sm-3">
                            <span class="form-error">
                                @Html.DropDownListFor(a => a.VillageId, new List<SelectListItem>() {
                                new SelectListItem() {Text="Select Village", Value="0" } }, new { @style = "width:100%", @class = "form-control select2" })
                                @Html.ValidationMessageFor(a => a.VillageId, "", new { @class = "text-danger" })
                            </span>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-offset-2 col-sm-1 ">
                            <span class="form-error">
                                @Html.LabelFor(a => a.EmailId, "EmailID")<span style="color:red;">*</span>
                            </span>
                        </div>
                        <div class="col-sm-3 ">
                            <span class="form-error">
                                @Html.TextBoxFor(a => a.EmailId, new { @class = "form-control" })
                                @Html.ValidationMessageFor(a => a.EmailId, "", new { @class = "text-danger" })
                            </span>
                        </div>

                        <div class="col-sm-1">
                            <span class="form-error">
                                @Html.LabelFor(a => a.StreetName, "Street")<span style="color:red;">*</span>
                            </span>
                        </div>
                        <div class="col-sm-3">
                            <span class="form-error">
                                @Html.TextBoxFor(a => a.StreetName, new { @class = "form-control" })
                                @Html.ValidationMessageFor(a => a.StreetName, "", new { @class = "text-danger" })
                            </span>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-offset-2 col-sm-1 ">
                            <span class="form-error">
                                @Html.LabelFor(a => a.MobileNumber, "Mobile# ")<span style="color:red;">*</span>
                            </span>
                        </div>
                        <div class="col-sm-3 ">
                            <span class="form-error">
                                @Html.TextBoxFor(a => a.MobileNumber, new { @class = "form-control", @maxlength = "10" })
                                @Html.ValidationMessageFor(a => a.MobileNumber, "", new { @class = "text-danger" })
                            </span>
                        </div>

                        <div class="col-sm-1">
                            <span class="form-error">
                                @Html.LabelFor(a => a.HouseNo, "H.No #")<span style="color:red;">*</span>
                            </span>
                        </div>
                        <div class="col-sm-3">
                            <span class="form-error">
                                @Html.TextBoxFor(a => a.HouseNo, new { @class = "form-control" })
                                @Html.ValidationMessageFor(a => a.HouseNo, "", new { @class = "text-danger" })
                            </span>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <div class="pull-right">
                                <!-- <button type="button" class="btn btn-warning" data-dismiss="modal"  role="button">Close</button> -->
                                <button type="submit" class="btn btn-success" style="margin-top:4%;margin-right: 611px;">Register</button>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
}



<!-- Footer starts here -->

<div class="navbar-default navbar-fixed-bottom" style="margin-top: 2%">
    <a class="acs" href="#"><p style="font-weight: light; text-align: center;">Powered By |  Aegis Consulting Services<h4></a>
</div>





<script type="text/javascript">

     $(function () {
    debugger;
    var applicantName='@ViewBag.ApplicantName';

    console.log('app :' + applicantName);
          $('#FirstName').val(applicantName);
    $('#StreetName').val('@ViewBag.StreetName');
    $('#HouseNo').val('@ViewBag.HouseNumber');
    });


      $('#DistrictId').on('change', function () {
          debugger;
          BindMandals('', this.value);
      });

      $('#MandalId').on('change', function () {
          BindVillages('', this.value);
      });
      function ShowMessage(response) {
          ShowModal(response);
      }

      function ShowFailure() {
          console.log('failure');
      }
</script>
