@model Capstone.Models.PCPNDTViewModel
<fieldset class="scheduler-border">
    <legend class="scheduler-border">Employee List</legend>
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-body table-responsive no-padding">
                    <table id="tblEmployees" class="table table-hover">
                        <tr>
                            <th>S.No.</th>
                            <th>Name</th>
                            <th>Designation</th>
                            <th>Experience</th>
                            <th>Registration Number</th>
                            <th>Uploaded File</th>
                            <th></th>
                        </tr>
                        @if (Model.EmployeeListLog != null)
                        {
                            for (int i = 0; i < Model.EmployeeListLog.Count; i++)
                            {
                                <tr>
                                    <td> @Convert.ToInt32(@i + 1)</td>
                                    <td>
                                        @{
                                            var employeeName = string.Empty;
                                            if (Model.EmployeeListLog[i].SubDesignation != "None" && Model.EmployeeListLog[i].SubDesignation != "Select")
                                            { employeeName = Model.EmployeeListLog[i].Name + ". "+ Model.EmployeeListLog[i].SubDesignation  ; }
                                            else
                                            { employeeName = Model.EmployeeListLog[i].Name; }

                                        }
                                        @employeeName
                                    </td>
                                    <td>@Model.EmployeeListLog[i].DesignationName</td>
                                    <td>@Model.EmployeeListLog[i].ExpYears Years, @Model.EmployeeListLog[i].ExpMonths Months, @Model.EmployeeListLog[i].ExpDays Days</td>
                                    <td>@Model.EmployeeListLog[i].RegistrationNumber</td>
                                    <td>
                                        <input type='button' value='View Uploads' onclick='ViewEmployeeUploads(@i);' />                                       
                                    </td>                                    
                                    <td>
                                        @if (Model.EmployeeListLog[i].IsDeleted)
                                        {
                                            @Html.Label("Deleted")
                                        }
                                        else if(Model.EmployeeListLog[i].Id > 0)
                                        {
                                            @Html.Label("Existing")
                                        }
                                        else
                                        {
                                            @Html.Label("New")
                                        }
                                    </td>
                                </tr>
                            }
                        }
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>
</fieldset>

<script>
    function ViewEmployeeUploads(index) {
        var url = '@Url.Action("GetEmployeeUploads", "License", new { Area = "User" })';
        var data = {
            index: index,
            source: 'Department'
        };
        var jqxhr = $.post(url, data, function () { })
.done(function (response) {
    var json;
    if (response instanceof Object)
        json = response;
    else
        json = $.parseJSON(response);

    ShowEmployeeUploads(json);
})
.fail(function (jqxhr, status, error) {
    var err = status + ", " + error;
    console.log("GetEmployeeUploads Request Failed: " + err);
});
    }
</script>